
<div *ngIf="flag">
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit(bookingForm)">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
    <label class="center-block">no. of Seats:
      <input type="number" class="form-control" formControlName="count">
    </label>
    <button type="submit" [disabled]="bookingForm.invalid">Book</button>
    <div>{{error}}</div>
  </form>
</div>
<div class="conformation-container" *ngIf="!flag">
<div class="seat-row">
  <div  *ngFor ="let seat of bookingInfo.seats">
    <div  class="seat" [ngClass] = "seat.seatNo === 2? 'divide-category': ''"  *ngIf="seat.row === 1" >
      <label class="seat-label" [ngClass] = "seat.status=== 'booked' ? (bookingForm.controls.name.value === seat.bookedBy ? 'selected' : 'booked'): 'available'">
        {{seat.seatNo}}</label>
    </div>
  </div>
</div>
<div class="seat-row">
  <div  *ngFor ="let seat of bookingInfo.seats">
    <div  class="seat" [ngClass] = "seat.seatNo === 7? 'divide-category': ''"*ngIf="seat.row === 2" >
      <label class="seat-label" [ngClass] = "seat.status=== 'booked' ? (bookingForm.controls.name.value === seat.bookedBy ? 'selected' : 'booked'): 'available'">
        {{seat.seatNo}}</label>
    </div>
  </div>
</div>
<div class="seat-row">
  <div  *ngFor ="let seat of bookingInfo.seats">
    <div class="seat" [ngClass] = "seat.seatNo === 12? 'divide-category': ''" *ngIf="seat.row === 3" >
      <label class="seat-label" [ngClass] = "seat.status=== 'booked' ? (bookingForm.controls.name.value === seat.bookedBy ? 'selected' : 'booked'): 'available'">
        {{seat.seatNo}}</label>
    </div>
  </div>
</div>
<div class="seat-row">
  <div *ngFor ="let seat of bookingInfo.seats">
    <div class="seat" [ngClass] = "seat.seatNo === 17? 'divide-category': ''"*ngIf="seat.row === 4" >
      <label class="seat-label" [ngClass] = "seat.status=== 'booked' ? (bookingForm.controls.name.value === seat.bookedBy ? 'selected' : 'booked'): 'available'">
        {{seat.seatNo}}</label>
    </div>
  </div>
</div>
<div class="seat-row">
  <div  *ngFor ="let seat of bookingInfo.seats">
    <div class="seat" [ngClass] = "seat.seatNo === 22? 'divide-category': ''" *ngIf="seat.row === 5" >
      <label class="seat-label"  [ngClass] = "seat.status=== 'booked' ? (bookingForm.controls.name.value === seat.bookedBy ? 'selected' : 'booked'): 'available'">
        {{seat.seatNo}}</label>
    </div>
  </div>
</div>
<div class="new-booking">
  <button (click)="openBookingForm()"> New Booking</button>
</div>
</div>

